<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabalho">

        <!-- tela principal -->
       <activity
           android:name=".MainActivity"
           android:exported="true">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>

       <!-- tela "sobre" -->
       <activity android:name=".AboutActivity" />

        <!-- tela de ecolha do perfil -->
        <activity android:name=".EscolhaActivity" />

       <!-- tela de autenticação do tutor -->
       <activity android:name=".TutorActivity" />

        <!-- tela de autenticação do veterinário -->
        <activity android:name=".VeterinarioActivity" />

        <!-- tela de verificação do tutor -->
        <activity android:name=".VerificTutorActivity" />

        <!-- tela "login" -->
        <activity android:name=".LoginActivity" />

        <!-- tela "home" -->
        <activity android:name=".HomeActivity" />

        <!-- tela "perfil" -->
        <activity android:name=".PerfilTutorActivity" />

        <!-- tela "perfil do animal" -->
        <activity android:name=".AnimalActivity" />

        <!-- tela "marcar consulta" -->
        <activity android:name=".MarcarConsultaActivity" />

        <!-- tela "histórico do animal" -->
        <activity android:name=".HistoricoActivity" />



   </application>

</manifest>